@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

a, a:visited, a:active, a:link {
    text-decoration: none;
    color: inherit;
}

section.significado-conciso ol {
    padding-inline-start: 20px;
}

div.contenido {
    column-count: 3;
}

div.contenido p {
    text-align: justify;
}

#tbl-repasos {
    border-collapse: collapse;
    border: 1px solid silver;
    empty-cells: show;
    display: block;
    width: 100%;
    overflow-x: auto;
}
#tbl-repasos th {
    background-color: rgb(131, 131, 131);
}
#tbl-repasos td, #tbl-repasos th {
    border: 1px solid silver;
    padding: 5px;
    font-size: smaller;
}
#tbl-repasos td:nth-child(1), #tbl-repasos td:nth-child(2), #tbl-repasos td:nth-child(3) {
    text-align: center;
}
#tbl-repasos tr.examen {
    background-color: silver;
}

#tbl-repasos.normal-tbl td, #tbl-repasos.normal-tbl th {
    text-align: unset;
}

section.bar-buttons {
    --color-oscuro: rgb(100, 100, 100);
    --color-claro: silver;
    display: table;
    border-collapse: collapse;
    margin: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1.5em;
}
section.bar-buttons a {
    display: table-cell;
    padding: 5px;
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    transition-duration: 0.75s;
    padding: 10px;
}
section.bar-buttons a:hover {
    background-color: var(--color-oscuro);
    color: var(--color-claro);
}
section.bar-buttons a:first-child {
    border-radius: 0;
}
section.bar-buttons a:last-child {
    border-radius: 0 5px 5px 0;
}
section.bar-buttons a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
section.bar-buttons a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.bold {
    font-weight: bolder;
}

.italic {
    font-style: italic;
}

.no-bold {
    font-weight: normal;
}

.no-italic {
    font-style: normal;
}

.frase-francesa::before {
    content: '<<';
}

.frase-francesa::after {
    content: '>>';
}

.line-space {
    margin-bottom: 0.5rem;
}

figure {
    border: 1px solid silver;
    padding: 5px;
}

figure img.book-fig {
    width: 95%;
    display: block;
    margin: auto;
}

figure figcaption {
    font-style: italic;
    font-size: 85%;
    text-align: center;
}

@media (width <= 1000px) {

    div.contenido {
        column-count: 2;
    }
}

@media (width <= 500px) {

    div.contenido {
        column-count: 1;
    }
}

@media print {

    div.contenido {
        column-count: 2;
    }

    section.bar-buttons {
        display: none;
    }

}

.text-end {
    text-align: end;
}

.text-start {
    text-align: start;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.cita {
    padding-left: 2rem;
    padding-right: 1rem;
}
